<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="aqua">
    <h1 align="center">BRO GUDHHAMUSUKONI CHADHUVUKO BRO</h1>
    <H2 ALIGN="CENTER">MANAKENDHUKU BRO E MOVIES</H2>
    <style>
        h1{
            background-color: greenyellow;
            color: black;
            border: 2px pink solid;
            margin-right: 100px;
            margin-left: 100px;
        }
    </style>
</body>
</html>